.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: thin solid #c7090b;
    border-radius: 15px;
    margin: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, rgba(199, 9, 11, 0.7), white 20%);
}

.title {
    font-family: sans-serif;
    color: #c7090b;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 5px;
    text-decoration: underline;
}

.time {
    font-family: sans-serif;
    font-size: 0.6em;
    font-weight: bold;
}

.shortText {
    font-family: sans-serif;
    font-size: 0.6em;
}

